
<div class="container">
<form (ngSubmit)="addSingleTodo()">


  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Description</mat-label>
      <input matInput placeholder="Description" [(ngModel)]="todo.taskDescritpion" name="description">
      <mat-hint>Task description</mat-hint>
    </mat-form-field>
  </p>



  <p>
    <mat-form-field appearance="legacy">
      <mat-select [(ngModel)]="todo.taskWeight" name="weights"    placeholder="Weight">
        <mat-option *ngFor="let taskWeight of weights" [value]="taskWeight.value"> {{taskWeight.viewValue}}</mat-option>
      </mat-select>
    </mat-form-field>
  </p>


  <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>































