


<form>
<table class="table">
  <thead>
  <tr>
    <th>Important</th>
    <th>Description</th>
    <th>Status</th>
    <th>Data</th>
    <th>Delete</th>
    <th>Update</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let todo of todos">
      <td>Important</td>
      <td>{{todo.taskDescritpion}}</td>
      <td>{{todo.taskStatus}}</td>
      <td>{{todo.taskDate}}</td>
      <td><button mat-button color="warn" (click)="deleteSingleTodo(todo.id)">Delete</button></td>
      <td><button mat-button color="accent" (click)="updateSingleTodo(todo.id)">Update</button></td>
    </tr>
  </tbody>
  <button mat-button color="primary" class="add_task_button" (click)="addSingleTodo()">ADD TASK</button>

</table>
</form>


<!-- primary accent warn  -->
